# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum
/.idea/hugo-blog.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml

/.idea/misc.xml
/public
/resources
/hugo-blog.iml
/.idea/encodings.xml
/.idea/hugo-theme-stack-starter.iml
/.idea/misc.xml
/.idea/
/.idea/
/.hugo_build.lock
/hugo-blog-vm/
/content/post/hello-world/
/content/post/image-gallery/
/content/post/hello-world/
/content/post/shortcodes/
/content/post/math-typesetting/
/content/post/markdown-syntax/
/content/post/image-gallery/
/index.html
/content/post/draft-box/
